html, body {
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.App-header {
  width: 100vw;
  height: 10vh;
  font-size: 6vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.App-title {
  padding: 1vw 1vh;
}

#body {
    width: 90vw;
    height: 84vh;
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

#Macros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 42vh;
}

.Macro {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 8.4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.05vh;
    margin-bottom: 1.05vh;
}

.MacroButton {
    background-color: #FFFFFF;
    border: none;
    color: black;
    width: 8.4vh;
    height: 8.4vh;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 0.6vh 1.2vh -0.4vh #2a2a2a;
}

.Icon {
  max-width: 100%;
  max-height: 100%;
}

.MacroParameters {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    height: 100%;
    width: 65vw;
    background: #3b3e7a;
    margin: auto;
    border-radius: 10vw;
}

.Parameter {
    margin: auto;
    font-size: 16px;
}

#ParamCheckBox {
    margin: auto;
}

.progress-bar {
    background: #000000;
    position: relative;
    margin: auto;
    height: 5vmin;
    width: 80vw;
}

.filler {
    background: #241d92;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.date-input {
    margin-left: 2vw;
    margin-right: 5vw;
}
