html, body {
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: Verdana, Geneva, sans-serif;
}

.App-header {
  width: 100vw;
  height: 10vh;
  font-size: 6vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.App-title {
  padding: 1vw 1vh;
}

.icon {
  max-width: 100%;
  max-height: 100%;
}

#body {
    width: 90vw;
    height: 84vh;
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

#Macros {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90vw;
    height: 24vh;
    margin: 0px auto 0px auto;
    text-transform: uppercase;
    flex-shrink: 0;
}

.macro {
    margin: 0px 0.5vw 1vh 0.5vw;
}

.macro-button {
    background-color: #FFFFFF;
    color: white;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 0.6vh 1.2vh -0.4vh #2a2a2a;
    transition: background-color .2s linear;
    cursor: pointer;
}

.macro-button-label {
    display: block;
    font-size: 1.5vh;
    width: 100%;
    max-width: 8vh;
    margin: 1vh 0 0 0;
}

#Parameters {
  width: 90vw;
  height: 22.5vh;
  text-align: left;
  margin: auto;
  flex-shrink: 0;
}

.macro-parameters {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    margin: auto;
    background-color: #b7b7b7;
}

.parameters-entry {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  margin: 0px auto 0.5vh auto;
  line-height: 4vh;
}

.parameter-label {
    line-height: 4vh;
    width: 40%;
    background-color: #cacaca;
    color: #000;
    text-align: center;
}

.parameter {
    line-height: 4vh;
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.date-input {
    width: 100%;
    border: none;
    border-radius: 0px;
    font-size: 1.5vh;
}

.integer-input {
    width: 100%;
    border: none;
    border-radius: 0px;
    font-size: 1.5vh;
}

.drop-down-list {
    width: 100%;
    border: none;
    border-radius: 0px;
    font-size: 1.5vh;
}

#Tracker {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  height: 29.5vh;
  width: 100%;
  flex-shrink: 0;
}

.progress-bar {
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.75vh;
    margin-bottom: 2.75vh;
    height: 5vh;
    width: 80vw;
    flex-shrink: 0;
}

.filler {
    background: #241d92;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

#KeyLogging {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 21vh;
  width: 100%;
}

#PressedKeys {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0vh auto;
  height: 5vh;
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
}

.pressedKey {
  font-size: 2vh;
  text-align: center;
  border-radius: 1vh;
  background: #3b3e7a;
  margin: auto 1.5vw;
}

#KeyLogs {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-evenly;
  margin: 0vh auto;
  height: 12vh;
  width: 100%;
  font-size: 2vh;
}

.key-log {
  background: #3b3e7a;
  border-radius: 1vh;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.key-log-cell {
    width: 33%;
}

#PlayerButtons {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.player-button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    font-weight: bold;
    width: 8vh;
    height: 8vh;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    margin: 0.5vh auto 0px auto;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 0.6vh 1.2vh -0.4vh #2a2a2a;
    cursor: pointer;
}

.info-button {
  background-color: #FFFFFF;
  color: black;
  width: 100%;
  height: 3vh;
  border: none;
  border-radius: 1.5vh;
  flex-shrink: 0;
  box-shadow: 0px 0.6vh 1.2vh -0.4vh #2a2a2a;
  transition: background-color .2s linear;
  cursor: pointer;
  margin: 1vh auto 0vh auto;
  font-size: 2vh;
}

#closeInfoButton {
  margin: 5% 0vw 0vh 0vw;
}

.info-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height:100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#infoOverlayOut {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer; /* Add a pointer on hover */
}

#infoTextBox {
  z-index: 3;
}

.infoSection {
    font-size: 1.5vh;
}

.infoTextTitle {
  text-align: center;
}

.text-box {
  background-color: #FFFFFF;
  width: 70%;
  height: max-content;
  padding: 5% 5%;
  color: #000;
  overflow: hidden;
}
