html, body {
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.App-header {
  width: 100vw;
  height: 10vh;
  font-size: 6vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.App-title {
  padding: 1vw 1vh;
}

.icon {
  max-width: 100%;
  max-height: 100%;
}

#body {
    width: 90vw;
    height: 84vh;
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

#Macros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 21vh;
    margin: 0px auto 0px auto;
    text-transform: uppercase;
}

.macro {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90vw;
    height: 18vw;
    margin: auto;
}

.macro-button {
    background-color: #FFFFFF;
    border: none;
    color: white;
    width: 15vw;
    height: 15vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vh;
    margin: auto;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 0.6vh 1.2vh -0.4vh #2a2a2a;
}

#Parameters {
  width: 90vw;
  height: 31.5vh;
  text-align: left;
}

.macro-parameters {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    margin: auto;
    background-color: #b7b7b7;
}

.parameters-entry {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  margin: 0px auto 0.5vh auto;
  line-height: 4vh;
}

.parameter-label {
    font-size: 16px;
    width: 40%;
    background-color: #cacaca;
    color: #000;
    text-align: center;
}

.parameter {
    font-size: 16px;
    width: 60%;
    background-color: #fff;
    display: flex;
    align-content: center;
}

.date-input {
    width: 100%;
    border: none;
    border-radius: 0px;
}

.integer-input {
    width: 100%;
    border: none;
    border-radius: 0px;
}

#Tracker {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  height: 31.5vh;
  width: 100%;
}

.progress-bar {
    background: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.75vh;
    margin-bottom: 2.75vh;
    height: 5vh;
    width: 80vw;
}

.filler {
    background: #241d92;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

#KeyLogging {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 21vh;
  width: 100%;
}

#PressedKeys {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0vh auto;
  height: 5vh;
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
}

.pressedKey {
  font-size: 2vh;
  text-align: center;
  border-radius: 1vh;
  background: #3b3e7a;
  margin: auto 1.5vw;
}

#KeyLogs {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-evenly;
  margin: 0vh auto;
  height: 12vh;
  width: 100%;
  font-size: 2vh;
}

.key-log {
  background: #3b3e7a;
  border-radius: 1vh;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  justify-content: space-evenly;
}

.key-log-cell {
    width: 33%;
}

#PlayerButtons {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.player-button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    font-weight: bold;
    width: 8.4vh;
    height: 8.4vh;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 0.6vh 1.2vh -0.4vh #2a2a2a;
}
